.demo{ font-family: 'Noto Sans', sans-serif; }
.panel1{
    background: linear-gradient(to right, #e95959, #2c3e50);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}
.panel1 .panel-heading{
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.panel1 .panel-heading .title{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 45px;
    margin: 0;
}
.panel1 .panel-heading .btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel1 .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel1 .panel-heading .form-control{
    color: #fff;
    background-color: transparent;
    width: 30%;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.panel1 .panel-heading .form-control:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}
.panel1 .panel-heading .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.panel1 .panel-body{ padding: 0; }
.panel1 .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel1 .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel1 .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel1 .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel1 .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}


.panel1 .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel1 .panel-body .table tbody .action-list li a:hover:before,
.panel1 .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}

